body {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("images/bg.gif");
    background-position: 50% 50%;
}

button {
    background-color: transparent;
    border: none;
}

img {
    width: 200px;
    border-radius: 50%;
}